body{
    background-color:dimgray;
    font-family:Algerian
}
table{
    width: 100%
}

table, th,td{
    border: 1px solid black;
    background-color:lightgrey
}
table{
    border-collapse: collapse
}
th,td{
    padding: 5px;
}
th{
    background-color: lightgreen
}
#formdiv{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
#formdiv label,button,input{
    margin: 10px;
    padding: 5px;
}
#formdiv label{
    font-weight: bold;
    }

#updateformdiv {
    display: none;
    flex-direction: column;
    margin-bottom: 20px;
}
    #updateformdiv label, button, input {
        margin: 10px;
        padding: 5px;
    }
    #updateformdiv label {
        font-weight: bold;
    }